@font-face {
  font-family: 'Parisienne-Regular';
  src: url("../webfonts/Parisienne-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Kalam';
  src: url("../webfonts/Kalam-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto Condensed';
  src: url("../webfonts/RobotoCondensed-Regular.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 70px;
  background-color: #28112b;
  position: fixed;
  font-family: "Kalam";
  color: #8DAA91;
  border-bottom: #788475 solid 2px; }
  header nav span {
    float: left;
    position: relative;
    top: 23.3333333333px;
    left: 17.5px;
    font-size: 20px; }
  header nav ul {
    float: right;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 130px;
    margin-top: 0px;
    font-family: "Roboto Condensed"; }
    header nav ul li {
      list-style: none;
      padding: 23.3333333333px 20px; }
      header nav ul li:hover {
        background-color: #8DAA91;
        border-bottom: #5e5d5c solid 4px;
        color: #28112b; }

main section.bio, main section.skills, main section.experience, main section.pricing {
  width: 100%;
  height: 100vh; }

@keyframes border-increase {
  0% {
    border-top: blue solid 1px; }
  25% {
    border-right: blue solid 1px; }
  50% {
    border-bottom: blue solid 1px; }
  100% {
    border-left: blue solid 1px; } }
main section.skills h1, main section.skills hr, main section.skills div.skills-container, main section.experience h1, main section.experience div.timeline {
  position: relative;
  left: 50px;
  width: 90%; }

main {
  width: 100%;
  height: 500px;
  background-color: #28112b;
  color: #8DAA91; }
  main section.bio {
    background-image: linear-gradient(to right, #453643, #8DAA91); }
    main section.bio div.bio-container {
      width: 50%;
      position: relative;
      top: 160px;
      left: 50px; }
      main section.bio div.bio-container h1 {
        font-family: "Parisienne-Regular";
        font-size: 60px; }
      main section.bio div.bio-container h3 {
        font-family: "Kalam"; }
      main section.bio div.bio-container p {
        font-family: "Roboto Condensed";
        width: 75%; }
      main section.bio div.bio-container button {
        font-family: "Kalam";
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 100px;
        height: 50px;
        padding: 5px;
        margin-top: 10px;
        background-color: #788475;
        border-radius: 5px;
        box-shadow: bottom 2px; }
        main section.bio div.bio-container button:hover {
          background-color: #788475;
          color: #28112b; }
        main section.bio div.bio-container button :visited {
          border: #453643 solid 1px; }
  main section.skills {
    background-image: linear-gradient(to right, #453643, #5e5d5c); }
    main section.skills h1 {
      font-family: "Parisienne-Regular";
      top: 50px;
      font-size: 60px; }
    main section.skills hr {
      top: 60px; }
    main section.skills div.skills-container {
      position: relative;
      top: 90px;
      left: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      main section.skills div.skills-container div.skill-item {
        margin: 20px 0;
        width: 230px;
        height: 50px;
        border-radius: 5px;
        background-color: #8DAA91;
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: auto auto; }
        main section.skills div.skills-container div.skill-item div.skill-icon {
          grid-column: 1 / 2;
          grid-row: 1/3;
          border-radius: 50%;
          height: 50px; }
          main section.skills div.skills-container div.skill-item div.skill-icon img {
            height: inherit;
            width: inherit; }
        main section.skills div.skills-container div.skill-item div.skill-name {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          text-transform: capitalize;
          color: #453643;
          padding-left: 5px; }
        main section.skills div.skills-container div.skill-item div.skill-value {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          width: 80%;
          height: 5px;
          background-color: #453643;
          border-radius: 5px;
          margin-top: 10px;
          animation-name: skill-progress-bar;
          animation-duration: 2s;
          animation-delay: 1s; }
@keyframes skill-progress-bar {
  from {
    width: 1%; }
  to {
    width: 80%; } }
  main section.experience {
    background-image: linear-gradient(to right, #453643, #788475); }
    main section.experience h1 {
      font-family: "Parisienne-Regular";
      top: 50px;
      font-size: 60px;
      color: #8DAA91; }
    main section.experience div.timeline {
      width: 90%;
      height: 5px;
      top: 80px;
      background-color: #8DAA91; }
      main section.experience div.timeline div.point-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #8DAA91;
        display: inline-block;
        position: relative;
        top: -24px; }
        main section.experience div.timeline div.point-circle > span {
          width: 30px;
          height: 20px;
          position: relative;
          border-radius: 5px;
          top: -18px;
          left: 9px;
          background-color: #28112b;
          visibility: hidden; }
        main section.experience div.timeline div.point-circle > div.arrow {
          width: 0px;
          height: 0;
          border-left: 17px solid transparent;
          border-right: 17px solid transparent;
          /* border-top-left-radius: 10px; */
          border-bottom: 35px solid #8DAA91;
          position: absolute;
          top: 55px;
          visibility: hidden; }
        main section.experience div.timeline div.point-circle img {
          width: 50px;
          height: 50px;
          display: inline-block;
          border-radius: 50%;
          position: absolute;
          border: #28112b solid 1px; }
        main section.experience div.timeline div.point-circle:hover span {
          visibility: visible; }
        main section.experience div.timeline div.point-circle:hover div.arrow {
          visibility: visible; }
        main section.experience div.timeline div.point-circle:hover + div.description {
          visibility: visible; }
      main section.experience div.timeline div.description {
        width: 93vw;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 26px 20px 30px #453643;
        background-color: #8DAA91;
        position: absolute;
        top: 65px;
        color: #453643;
        visibility: hidden; }
        main section.experience div.timeline div.description div.title {
          display: flex;
          flex-direction: row;
          border-bottom: #453643 solid 5px;
          justify-content: space-between;
          font-family: "Kalam";
          text-transform: capitalize; }
          main section.experience div.timeline div.description div.title h3 {
            margin: 5px 10px; }
          main section.experience div.timeline div.description div.title span {
            margin: 5px 20px;
            font-weight: bolder;
            font-size: 15px; }
        main section.experience div.timeline div.description ul {
          font-family: "Roboto Condensed";
          margin-left: 20px;
          color: #28112b;
          width: fit-content;
          height: fit-content; }
          main section.experience div.timeline div.description ul li {
            margin: 10px 0; }
      main section.experience div.timeline .y-2011 {
        left: calc((2011 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2011-a {
        left: calc(calc((2011 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2012 {
        left: calc((2012 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2012-a {
        left: calc(calc((2012 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2013 {
        left: calc((2013 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2013-a {
        left: calc(calc((2013 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2014 {
        left: calc((2014 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2014-a {
        left: calc(calc((2014 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2015 {
        left: calc((2015 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2015-a {
        left: calc(calc((2015 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2016 {
        left: calc((2016 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2016-a {
        left: calc(calc((2016 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2017 {
        left: calc((2017 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2017-a {
        left: calc(calc((2017 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2018 {
        left: calc((2018 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2018-a {
        left: calc(calc((2018 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2019 {
        left: calc((2019 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2019-a {
        left: calc(calc((2019 - 2011) / 10 ) + 2px); }
      main section.experience div.timeline .y-2020 {
        left: calc((2020 - 2011) / 10 * 70%); }
      main section.experience div.timeline .y-2020-a {
        left: calc(calc((2020 - 2011) / 10 ) + 2px); }
  main section.pricing {
    background-image: linear-gradient(to right, #5e5d5c, white); }

/*# sourceMappingURL=index.css.map */
