
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './scss-library/_variables';
@import './scss-library/_header';
@import './scss-library/_main';
@import './scss-library/_footer';

