.bio {
    @extend %section-shared;
    //background-image: linear-gradient(to right, $secondary-color, $fifth-color);
    background-color: $secondary-color;
}

// to not conflict with container from bootstrap
.bio__container {
    width: 75%;
    position: relative;
    top: $header-height;
    left: 50px;
    
}

.bio__name {
    font-family: $heading-font;
    font-size: 60px;
}

.bio__title {
    font-family: $subheading-font;
    font-size: 2em;
}

.bio__description {
    font-family: $paragraph-font;
    width: 100%;
    font-size: 2em;
}

.bio__button {
    font-family: $subheading-font;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    background-color: $fourth-color;
    border-radius: 5px;
    box-shadow: bottom 2px;
    color: $primary-color;

    &:hover {
        background-color: $fourth-color;
        
    }

    & :visited {
        border: $secondary-color solid 1px;
    }
}

@media only screen and (max-width : 600px){
    .bio__container {
        
        display: flex;
        flex-direction: column;
        align-content: space-between;
        
    }

    .bio {
        width: 100%;
        background-color: $secondary-color;
    }

    .bio__title , .bio__name ,.bio__description , .bio__button {
        margin : 2rem 0;
    }

    .bio__button{
        font-size: 2em;
        width: 25%;
    }


}