.main {
    width: 100%;
    height: fit-content;
    background-color: $primary-color;
    color: $fifth-color;
}

@import './_bio';
@import './_skills';

@import './_experience';
@import './_service';


@media only screen and (max-width:600px){
    

    body {
        width : 108vw;
    }
}